<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.makeshift.merrygoround" >

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name='android.permission.WAKE_LOCK'/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AddMembers"
            android:label="@string/title_activity_add_members" >
        </activity>

        <receiver android:name=".SmsNotifications" >
            <intent-filter>
                <action android:name="in.merrygoround.sent" />
                <action android:name="in.merrygoround.delivered" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ViewMembers"
            android:label="@string/title_activity_view_members" >
            <receiver android:name="com.example.makeshift.merrygoround.ViewMembers.AlarmReceiver">
            </receiver>
            <receiver android:name="com.example.makeshift.merrygoround.ViewMembers.AlarmReceiver2">
            </receiver>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewSingleMemberActivity"
            android:label="@string/title_activity_view_single_member" >

        </activity>

    </application>

</manifest>
